input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin ;
}

.navbar-expand {
    background-color: #006494;
}

.row {
    background-color: #001019;
}

.container-fluid {
    background-color: #001019;
}

.col {
    background-color: #001019;
}

.btn {
     background-color: #006494;
     border-width: 2px;
     border-style: solid;
     border-color: #EAFF01;
}

.me-2 {
    background-color: #001019;
}

.navbar-brand {
    background-color: #EAFF01;
    margin:2px;
    border-radius:7px;
}

.text-center {
    background-color: #EAFF01;
}

h2 {
    background-color: #001019;
}


.container-center {
     background-color: #006494;
}

.d-flex {
     background-color: #EAFF01;
}

.cart-product {
     background-color: #EAFF01;  
}

.p-1 {
    background-color:#006494;
}

.offcanvas-body {
    background-color: #ffff;
}

.font-monospace {
    background-color: #006494;
    border-radius: 7px;
}

.align-content-center {
    background-color: #006494;
    border-radius: 7px;
}

.navigation {
    background-color: #EAFF01;
}

