input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: none;
}
.btn {
     background-color: #006494;
     border-width: 2px;
     border-style: solid;
     border-color: #EAFF01;
}

.container-center {
     background-color: #006494;
}

.p-1 {
    background-color:#006494;
}

.font-monospace {
    background-color: #006494;
    border-radius: 7px;
}

.align-content-center {
    background-color: #006494;
    border-radius: 7px;
}

.imgLI {
    display: none;
}

